*{
    margin: 0px auto;
}

h1{
    background-color: blue;
    color: white;
    width: 700px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div#container{
    width: 700px;
}

div#art{
    width: 520px;
    margin: auto;
}

img{
    height: 250px;
    width:  250px;
    margin: auto;
}